# IDE y Editores
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Compilación y Binarios de .NET
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dll
*.exe
*.pdb
*.cache
*.dll.config

# Entornos, Secretos y Configuración Local
# Ignoramos todos los appsettings de entorno excepto el base
appsettings.*.json
!appsettings.json
# User Secrets y Variables de Entorno
**/secrets.json
.env
*.env.local

# Docker y Contenedores
docker-compose.override.yml
.docker/

# Basura Específica del Proyecto (Intelectia)
**/Backup/
**/FixEncoding/
seed_log.txt
seed_error.txt
fix_encoding.ps1
healthchecksdb

# WPF y Recursos de Diseño
# Ignoramos cachés de diseño de WPF
**/Design/
*.dgml

# Git y Sistema Operativo
.DS_Store
Thumbs.db
Desktop.ini
